.noDisplay {
    display: none;
}

/* Entries ------------------------------------------------------- */

.entryCard {
    border: 1px solid black;
    width: 55%;
    padding: 1.5rem;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
}

.entryFooter {
    display: flex;
    justify-content: space-between;
}

.entryEmojiSection {
    display: flex;
}

.entryEmojiSection p {
    margin: 5px;
}

/* Comments ------------------------------------------------------- */
.comment {
    border: 1px solid black
}


/* FORM ------------------------------------------------------- */
.entryForm {
    border: 1px solid black;
    width: 53.5%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.entryForm iframe {
    width: 30%;
}

.gifSelector {
    width: 30%;
}

/*  ------------------------------------------------------- */

*{
    font-family: 'Roboto', sans-serif;
}


#main-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 23%;
    width: 70%;
}

#main-header {
    width: 70%;
    margin-left: 13%;
    display: flex;
    justify-content: center;
}

#formTitle {
    width: 70%;
    height: 20px;
    margin-left: 13%;
}

#formMessage {
    width: 70%;
    margin-left: 13%;

}
#formGifSearch {
    width: 70%;
    height: 20px;
    margin-left: 13%;
}

#postButton {
    background-color: #cecece;
    width: 71%;
    margin-top: 10px;
    margin-left: 13%;
    border-radius: 8px;
    border-width: 0;
    cursor: pointer; 
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 12px;
    transition: all 200ms;  
}

/* #postButton:hover {
    width: 71%;
} */

#postButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  
  #postButton:hover  {
    background-color: #aaa6a6;
    
  }
  
  #postButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #postButton:hover span {
    padding-right: 25px;
    
  }
  
  #postButton:hover span:after {
    opacity: 1;
    right: 0;
  }