.noDisplay {
    display: none;
}

/* Entries ------------------------------------------------------- */

.entryCard {
    border: 1px solid black;
    width: 40%;
    padding: 2rem;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
}

.entryFooter {
    display: flex;
    justify-content: space-between;
}

.entryEmojiSection {
    display: flex;
}

.entryEmojiSection p {
    margin: 5px;
}
/* Comments ------------------------------------------------------- */
.comment {
    border: 1px solid black
}


/* FORM ------------------------------------------------------- */
.entryForm {
    border: 1px solid black;
    width: 40%;
    padding: 2rem;
}

.entryForm iframe {
    width: 30%;
}

.gifSelector {
    width: 30%;
}