
/* body{
    background-color: blue;
} */
#main-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    width: 80%;
}

.gif {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main {
    display: flex;
    justify-content: center;
    
} */
.noDisplay {
    display: none;
}

/* Entries ------------------------------------------------------- */

/* .entryCard {
    border: 1px solid black;
    width: 40%;
    padding: 2rem;
} */

.entryCard {
    border: 1px solid black;
    width: 55%;
    padding: 1.5rem;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
}

.entryFooter {
    display: flex;
    justify-content: space-between;
}

.entryEmojiSection {
    display: flex;
}

.entryEmojiSection p {
    margin: 5px;
}

/* Comments ------------------------------------------------------- */
.comment {
    border: 1px solid black
}


/* FORM ------------------------------------------------------- */
.entryForm {
    border: 1px solid black;
    width: 40%;
    padding: 2rem;
}

.entryForm iframe {
    width: 30%;
}

.gifSelector {
    width: 30%;
}